<header class="site-header">
	<nav class="site-nav">
			  <a class="page-link-head" href="/">home</a>
			  <a class="page-link-head" href="/doc">cv</a>
			  <a class="page-link-head" href="/aktiv">aktivitäten</a>
			  <a class="page-link-head" href="/kontakt">kontakt</a>
	</nav>
	<div class="myhead">
		<h1 class="mynametitle">{{ site.title | default: site.github.repository_name }}</h1>		    
		{% if page.url == "/index.html" %}
			<p class="startseite">Willkommen auf meinen Seiten</p>
		{% endif %}
		{% if page.url != "/index.html" %}
		<div class="page-title">
			<div class="left-q">
			<i class="fa fa-quote-right"></i>
			</div>
			<div class="center-q">
			{{ page.title }}
			</div>
			<div class="right-q">
			<i class="fa fa-quote-left"></i>
			</div>
		</div>
		{% endif %}
		<!--<p>{{ site.description | default: site.github.project_tagline }}</p>-->
		{% if site.show_downloads %}
			<ul>
			  <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
			  <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
			  <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
			</ul>
		{% endif %}
		</div>	
</header>
